.slider-main {
  cursor: pointer;
  &__slide {
    border: 1px solid;
    border-radius: 0px 0px 10px 10px;
    border-color: gainsboro;
  }
  &__img {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      padding: 10px;
      height: 100%;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &__slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0px;
    position: relative;
    margin: 20px 0px;
  }
  &__title {
    font-size: $s18;
    font-weight: 700;
  }
  &__not-sale {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    h2 {
      font-weight: 700;
      font-size: $s20;
    }
  }
  &__text {
    font-weight: 500;
  }
  &__text.discount {
    color: brown;
  }
  &__sale {
    position: absolute;
    bottom: 0px;
    right: 20px;
    background-color: $color-main-1v;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      font-weight: 500;
    }
  }
}

.slider-buttons {
  cursor: pointer;
  &__slide {
    display: flex;
    flex-direction: column;
    transition: $effect;
    min-height: 50px;
    justify-content: center;
    gap: 5px 0px;
    padding: 5px;
    border: 1px solid $color-border;

    &:hover {
      border: 1px solid $color-main-1v;
      transition: $effect;
    }

    &__slide.button {
      min-height: 40px !important;
      border: none !important;
      &:hover {
        border: none !important;
        transition: $effect;
      }
    }
  }
}

.slider-comment {
  height: 250px;
  cursor: pointer;

  &__elem {
    border: 1px solid $color-border;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 50px 1fr;
    gap: 15px;
    justify-content: space-between;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__elem-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-self: flex-end;
    svg {
      width: 70%;
      height: 70%;
      object-fit: cover;
      fill: $color-border;
      path {
        fill: lighten(#000, 40);
      }
    }
  }

  &__text {
    font-weight: 300;
  }

  &__name {
    margin: 20px 0px;
    font-weight: 600;
  }
}
