.slider-main {
  cursor: pointer;
  &__slide {
    border: 1px solid;
    border-radius: 0px 0px 10px 10px;
    border-color: gainsboro;
  }
  &__img {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      padding: 10px;
      height: 100%;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &__slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0px;
    position: relative;
    margin: 20px 0px;
  }
  &__title {
    font-size: $s18;
    font-weight: 700;
  }
  &__not-sale {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    h2 {
      font-weight: 700;
      font-size: $s20;
    }
  }
  &__text {
    font-weight: 500;
  }
  &__text.discount {
    color: brown;
  }
  &__sale {
    position: absolute;
    bottom: 0px;
    right: 20px;
    background-color: $color-main-1v;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      font-weight: 500;
    }
  }
}
