$color-main-1v: #4e8eff;
$color-main-2v: #003ba3;
$color-second: #ffffff;
$color-war: rgb(165, 42, 42);
$color-border: rgb(219, 219, 219);
$color-succes: rgb(62, 165, 62);

$s16: 1rem;
$s18: 1.125rem;
$s20: 1.25rem;
$s25: 1.5625rem;

/// effect
$effect: 0.5s ease all;
/// max-width

$size-auto: auto;
$size-540: 540px;
$size-720: 720px;
$size-960: 960px;
$size-1140: 1140px;

///общие классы
.container {
  width: $size-1140;

  margin: auto;
}

.link {
  font-size: $s18;
  cursor: pointer;
  font-weight: 500;
  transition: $effect;
  &:hover {
    color: $color-main-2v;
  }
}

.title {
  font-size: $s20;
  font-weight: 700;
  margin-bottom: 20px;
}

.sector {
  margin: 50px 0px;
  min-height: 200px;
}

.effects {
  cursor: pointer;
  transition: $effect;
  &:hover {
    color: $color-main-2v;
  }
  &:active {
    color: $color-main-2v;
  }
}

.effects-svg svg {
  cursor: pointer;
  transition: $effect;
  &:hover {
    fill: $color-main-2v;
    transition: $effect;
    path {
      transition: $effect;
      fill: $color-main-2v;
    }
  }
  &:active {
    transition: $effect;
    fill: $color-main-2v;
    path {
      transition: $effect;
      fill: $color-main-2v;
    }
  }
}

// button {
//   width: 100%;
//   height: 100%;
//   transition: $effect;
//   border-radius: 5px;
//   transition: $effect;
// }

// button:focus {
//   width: 100%;
//   height: 100%;
//   outline: 1px solid $color-main-2v;
//   border-radius: 5px;
//   transition: $effect;
//   -webkit-box-shadow: 0px 0px 25px -4px rgba(0, 59, 163, 0.2);
//   -moz-box-shadow: 0px 0px 25px -4px rgba(0, 59, 163, 0.2);
//   box-shadow: 0px 0px 25px -4px rgba(0, 59, 163, 0.2);
// }

// button:hover {
//   color: #fff;
//   width: 100%;
//   height: 100%;
//   border-radius: 5px;
//   transition: $effect;
//   -webkit-box-shadow: 0px 0px 25px -4px rgba(0, 59, 163, 0.2);
//   -moz-box-shadow: 0px 0px 25px -4px rgba(0, 59, 163, 0.2);
//   box-shadow: 0px 0px 25px -4px rgba(0, 59, 163, 0.2);
//   background-color: $color-main-2v;
// }

// button:active {
//   color: #fff;
//   width: 100%;
//   height: 100%;
//   outline: 1px solid $color-main-2v;
//   border-radius: 5px;
//   transition: $effect;
//   -webkit-box-shadow: 0px 0px 25px -4px rgba(0, 59, 163, 0.2);
//   -moz-box-shadow: 0px 0px 25px -4px rgba(0, 59, 163, 0.2);
//   box-shadow: 0px 0px 25px -4px rgba(0, 59, 163, 0.2);
//   background-color: $color-main-2v;
// }
