.form {
  &__title {
    font-weight: 600;
    text-align: left;
    margin: 0px 0px 20px 0px;
    font-size: $s20;
  }
  &__checkbox-contents {
    width: 100%;
  }
  &__input-contents {
    margin-bottom: 35px;
  }
  &__checkbox-content {
    width: 100%;
  }

  &__input-content {
    margin-bottom: 15px;
  }
  &__errors {
    margin: 10px 0px;
    font-weight: 400;
    color: brown;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  fo h2 {
    text-transform: capitalize;
  }
}
