.left-layout {
  height: 100%;
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  &__header-breadCrumbs {
    margin-bottom: 15px;
  }
  &__header-title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
  }
  &__container {
  }
  &__content {
  }
  &__body {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 30px;
    min-height: 500px;
  }
  &__functionals {
    border-radius: 8px;
    max-height: 600px;
  }
}
